.reveal section img {
  border: 0;
  box-shadow: none;
  max-height: 25%;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: initial !important;
}

td img {
    min-width: 120px !important;
    min-height: 120px !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mini {
    display: block;
    width: 120px;
}

.minitext {
    font-size: 50% !important;
}

.microtext {
    font-size: 33% !important;
}
